body {
    background-color: rgb(2, 20, 65);
}

.maxconter {
    max-width: 576px;
}

.bgheadertext {
    background-color: rgb(67, 59, 156);
}

.font {
    font-size: 25px;
    font-family: cursive;
}

.fonts {
    font-size: 16px;
    font-family: cursive;
}

.coantt {
    border: 1px solid white;
}

.hidden{
    display: none;
}
.block{
    display: block;
}